@import '../../App.scss';

.auth {

    &__container {
        // margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        @include centerAlign;
        top: 40%;        
    }

    &__input {
        margin-top: 2rem;
        padding: 1.5rem 1rem;
    }

    &__submit {
        width: 40%;
        margin: 3rem auto 0 auto;
        text-align: center;
    }

    &__switch {
        border: 1px solid black;
        padding: .5rem 1rem;
        @include centerAlign;
        left: 70%;
        top: 52%;
    }
}