.header {
    position: sticky;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__option {
        font-size: 1.5rem;
        text-decoration: none;
        color: black;

        &:hover {
            color: rgba(black, 0.5);
            transform: scale(1.5);
        }
    }
}